@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

:root
{
	/* background color */
	--bcolor: #F1F1E6;
	
	/* front color */
	--fcolor: #191970;
	
	/*new front color: #191970 */
	/*old front color: #3D486B */
	
	/* th (table header) color */
	--thcolor: #b6abce;
	
	/*new th color: #4B9CD3 */
	/*old th color: #C5CEC2 */
}

::selection
{
	color: var(--bcolor);
	background: var(--fcolor);
}

::moz-selection
{
	color: var(--bcolor);
	background: var(--fcolor);	
}

/******************
 SCROLLBAR- CHROME
******************/

::-webkit-scrollbar 
{
  width: 10px;
}

::-webkit-scrollbar-track
{
	background: var(--bcolor);
	/* border-radius: 10px; */
}

::-webkit-scrollbar-thumb
{
	background: var(--fcolor);
	/* border-radius: 10px; */
}

::-webkit-scrollbar-button
{
	background: var(--bcolor);
	/* border-radius: 10px; */
}

/******************
 SCROLLBAR - CHROME (EXPERIMENTAL)
******************/

::-webkit-scrollbar-button:single-button 
{
  background-color: var(--fcolor);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-radius: 5px 5px 0 0;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(241, 241, 230)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment 
{
  border-radius: 0px 0px 5px 5px;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(241, 241, 230)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/******************
EXPERIMENTAL END
******************/

body
{
	background-color: var(--bcolor);
	color: var(--fcolor);
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.auto-div
{
	margin-left: auto;
	margin-right: auto;
	width: 1250px;
	border: 3px solid var(--fcolor);
	box-shadow: 0 0 10px 10px var(--fcolor);
}

h1
{
	text-align: center;
}

a:link
{
	color: var(--fcolor);
	font-weight: bold;
	font-style: italic;
}

a:visited
{
	color: var(--fcolor);
}

.small-text
{
	font-size: 10px;
}

hr
{
	border: 1px solid var(--fcolor);
	width: 65%;
	
}

div.myheader
{
	text-align: center;
	top: 0; 
	right: 0;
	left: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
	
div.myheader2
{
	max-width: 95vh;
}

div.myheader h1
{
	font-style: italic;
	font-weight: bold;
	font-size: 60px;
	text-shadow: 1px 1px var(--fcolor);
}

.center-span
{
	text-align: center;
}

.copyrights
{
	border-top-style: solid;
	border-top-color: var(--fcolor);
	border-top-width: 3px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	width: 100%;
	
}

.career-goals
{
	text-align: center;
	
	border-bottom-style: solid;
	border-bottom-color: var(--fcolor);
	border-bottom-width: 3px;
	
	padding-left: 200px;
	padding-right: 200px;
}

.basic-info
{
	border-top-style: solid;
	border-top-color: var(--fcolor);
	border-top-width: 3px;
	
	border-bottom-style: solid;
	border-bottom-color: var(--fcolor);
	border-bottom-width: 3px;
}

.container
{
	display: table;
	border-collapse: separate;
}

.divs-equal
{
	display: table-cell;
}

.div-padding
{
	padding-left: 10px;
	padding-right: 10px;
}

#main-part
{
	width: 55vw;
	border-right-style: solid;
	border-right-color: var(--fcolor);
	border-right-width: 3px;
	height: 100vh;
}

#additional-part
{
	width: 45vw;
	height: 100vh;
}

.span-date
{
	font-family: Courier New;
	font-size: 12px;
	font-weight: bold;
}

table.no-space
{
	border-spacing: 0; 
	border-collapse: collapse;
}

.center-table
{
	margin-left: auto;
	margin-right: auto;
}

th
{
	background-color: var(--thcolor);
	padding: 5px;
}

td
{
	padding: 5px;
}

.center-inside-table
{
	text-align: center;
}

.fa-star
{
	color: black;
}

.checked
{
	color: gold;
}

.language-info
{
	cursor: help;
	border-bottom-width: 3px;
	border-bottom-style: dotted;
	border-bottom-color: var(--fcolor);
}

.buttons
{
	border-top-style: solid;
	border-top-color: var(--fcolor);
	border-top-width: 3px;
}

.buttons-center
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.myButton
{
	background-color: var(--fcolor);
	color: var(--bcolor);
	
	font-size: 20px;
	
	margin-left: 25px;
	margin-right: 25px;
	
	width: 100px;
}

.myButton:hover
{
	background-color: var(--bcolor);
	color: var(--fcolor);
}

footer
{
	flex: 0 0 300px;
}

.break
{
	width: 100%;
	background-color: var(--bcolor);
	bottom: 0px;

}

.table-center-text
{
	text-align: center;
}

.star-gold
{
	color: gold;
}

.star-black
{
	color: black;
}

.td-job-description
{
	/* max-width: 50vw; */
	vertical-align: top;
}

.td-with-padding
{
	padding-right: 10px;
}

.td-with-width
{
	width: 40vw;
}

.table-job
{
	width: 100%;
	display: table;
}

.table-job-job
{
	width: 40%;
	display: table-cell;
}

.table-job-middle
{
	width: 5%;
	padding-right: 10px;
	display: table-cell;
	text-align: center;
}

.table-job-description
{
	width: 40%;
	display: table-cell;
}

.star-gold
{
	color: gold;
	font-size: 25px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.star-black
{
	color: black;
	font-size: 25px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bc-element
{
    display: inline-block;
    width: 50%;
}
    
#bc-left
{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
#bc-right
{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#bc-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
}

ul
{
	list-style: none;
	/*
	padding: 0;
	margin: 0;
	*/
}

li
{
	/*
	padding-left: 16px;
	*/
}

li::before
{
	content: "✦";
	padding-right: 5px;
	/*
	color: var(--fcolor);
	*/
}

.job-title-size
{
	font-size: 25px;
	font-weight: bold;
}

 .my-icon a
{
	text-decoration: none;
}

.my-icon a:visited
{
	text-decoration: none;
}

.my-icons-div
{
	width: 300px;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

#social-links
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
}


.ButtonHideSeek
{
	background-color: var(--bcolor);
	color: var(--fcolor);
	border-color: var(--fcolor);
	border-width: 1px;
	border-style: solid;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.HideShowDiv
{
	display: none;
}
/*
 * *****************************************
 *  !!! MOBILE BELOW !!!
 * *****************************************
 * */

@media only screen and (max-width: 800px)
{
	.auto-div
	{
		margin-left: 0;
		margin-right: 0;
		width: auto;
		border: none;
		box-shadow: none;
	}

	div.myheader h1
	{
		font-size: 9vw;
	}

	div.myheader h2
	{
		font-size: 5vw;
	}
	
	.container
	{
		display: flex;
		flex-direction: column;
	}
	
	#main-part
	{
		width: 100vw;
		border-right-style: none;
		height: auto;
	}
	
	#additional-part
	{
		width: 100vw;
		height: auto;
	}
	
	.career-goals
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.copyrights
    {
        bottom: 0px;
        width: 100%;
    }

    .bc-element
    {
    	display: block;
    }
}	
	
@media only screen and (min-width: 801px) and (max-width: 1249px)
{
	.auto-div
	{
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}
}