<!DOCTYPE html>
<html lang="en">
	
	<head>
	
		<meta charset="UTF-8">
		<meta name="author" content="Szymon Brycki">
		
		<title>Szymon Brycki - CV/Resume</title>
		<meta name="description" content="Szymon Brycki's CV/resume and website">
		<meta name="keywords" content="CV, Resume, Szymon Brycki, IT person, IT technician, IT, computing, programming">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="../CSS/style.css">
		<link rel="shortcut icon" href="../IMG/favicon-v2.png">
	
	</head>
	
	<body>
		
		<div class="auto-div">
			<div class="myheader">
				<div class="myheader2">
					<h1>[Name and surname]</h1>
					<h2>CV/Resume</h2>
					<p><b>of an</b></p>
					<h2>[profession]</h2> 
				</div>
			</div>
			
			
			<div class="basic-info">
				<h1 align="center">Basic Information & Contact</h1>
				
				<div align="center">
					<p>[Put here your name, place of residence, contact information, links to LinkedIn and social media etc.]</p>
				</div>
			</div>

			<div class="career-goals">
				<h1>Personal Statement</h1>
				<p>[Your personal statement]</p>
			</div>   
			
			<div class="container">
					<div id="main-part" class="divs-equal">
						<div class="div-padding">
							
							<h1>Experience</h1>

							<div class="table-job">
								<div class="table-job-job">Job <br>
									<span class="span-date">20XX - 20XX</span></div> 
								<div class="table-job-middle">-</div> 
								<div class="table-job-description">description</div>

							</div>

							<p>[Longer description of the position]</p>


							<h1>Education</h1>
							
							<div class="table-job">
								<div class="table-job-job">Education <br>
									<span class="span-date">20XX - 20XX</span></div> 
								<div class="table-job-middle">-</div> 
								<div class="table-job-description">description</div>

							</div>
					
							<p>[Longer description of the diploma.]</p>

							<hr>

							<div class="table-job">
								<div class="table-job-job">Education <br>
									<span class="span-date">20XX - 20XX</span></div> 
								<div class="table-job-middle">-</div> 
								<div class="table-job-description">description</div>

							</div>
					
							<p>[Longer description of the diploma.]</p>

							<h1>Other information</h1>
							<p>[Title]</p>
							<p>[Description]</p>
						</div>
					</div>

					<div id="additional-part" class="divs-equal">
						<div class="div-padding">

							<h1>Languages</h1>
							
							<table class="center-table no-space">
								<tr>
									<th class="center-inside-table"><b>Language</b></th>
									<th class="center-inside-table"><b>CEFR Level</b></th>
									<th class="center-inside-table"><b>Certification</b></th>
								</tr>
								<tr>
									<td class="center-inside-table"><b><span class="language-info" title="Number of known words 1">Language 1</span></b></td>
									<td><b>Native</b> language</td>
									<td> </td>
								</tr>
								<tr>
									<td class="center-inside-table"><b><span class="language-info" title="Number of known words 2">Language 2</span></b></td>
									<td><b>B2</b></td>
									<td><b>Certificate 1</b></td>
								</tr>
								<tr>
									<td class="center-inside-table"><b><span class="language-info" title="Number of known words 3">Language 3</span></b></td>
									<td><b>A2</b></td>
									<td><b>Certificate 2</b> </td>
								</tr>
							</table>
							
							<h1>Skills</h1>
	
							<table class="center-table">
								
								<tr>
									<td colspan="2" class="table-center-text"><b>Broad group 1</b></td>
								</tr>
								
								<tr>
									<td><b>Skill 1</b></td>
									<td>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-black">★</span>
										<span class="star-black">★</span>
									</td>
								</tr>
								
								<tr>
									<td><br></td>
								</tr>
								
								<tr>
									<td colspan="2" class="table-center-text"><b>Broad group 2</b></td>
								</tr>
								
								<tr>
									<td><b>Skill 2</b></td>
									<td>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-black">★</span>
										<span class="star-black">★</span>
									</td>
								</tr>
								
								<tr>
									<td><b>Skill 3</b></td>
									<td>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-black">★</span>
									</td>
								</tr>
								
								<tr>
									<td><br></td>
								</tr>
								
								<tr>
									<td colspan="2" class="table-center-text"><b>Broad group 3</b></td>
								</tr>
								
								<tr>
									<td><b>Skill 4</b></td>
									<td>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-gold">★</span>
										<span class="star-black">★</span>
									</td>
								</tr>
								
							</table>

							<h1>Info 1</h1>
							
							<p>[Description]</p>
							
							<h1>Info 2</h1>
	
							<p>[Description]</p>
							
						</div>	
					</div>
				 
			</div>
			
			<div class="break">
				
			</div>
			
			<div class="copyrights">
				<p>Copyright © 2020 - <script> data = new Date(); document.write(data.getFullYear());</script> Szymon Brycki
				<br>
				<a href="https://github.com/SzymonBrycki/My-CV">GNU GPL version 3 or later.</a>
				<br>				
				Some rights reserved. </p>
			</div>
			
		</div>		
		
	</body>
</html>
