@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body
{
	background-color: #f4e6db;
	color: #3D486B;
	margin: 0;
	padding: 0;
}

a:link
{
	color: #3D486B;
}

a:visited
{
	color: #3D486B;
}

div.nagłówek
{
	text-align: center;
	top: 0; 
	right: 0;
	left: 0;
}

div.nagłówek h1
{
	font-style: italic;
	font-weight: bold;
	font-size: 60px;
}

.center-span
{
	text-align: center;
}

.career-goals
{
	text-align: center;
	
	border-bottom-style: solid;
	border-bottom-color: #3D486B;
	border-bottom-width: 3px;
	
	padding-left: 150px;
	padding-right: 150px;
}

.basic-info
{
	border-top-style: solid;
	border-top-color: #3D486B;
	border-top-width: 3px;
	
	border-bottom-style: solid;
	border-bottom-color: #3D486B;
	border-bottom-width: 3px;
}

.container
{
	display: table;
	border-collapse: separate;
	/* border-spacing: 10px */
}

/* .container2
{
	float: left;
	width: 60%;
	border-right-style: solid;
	border-right-color: #FFCC00;
	border-right-width: 3px;
	margin-right: 10px;
	height: 100%;
	min-height: 100%;
	/* position: absolute; */
}
*/
 
.container3
{
	/* margin-left: 2px; */
}


.divs-equal
{
	display: table-cell;
}

.div-padding
{
	padding-left: 10px;
	padding-right: 10px;
}

#main-part
{
	/* float: left; */
	width: 55vw;
	border-right-style: solid;
	border-right-color: #3D486B;
	border-right-width: 3px;
	/* margin-right: 10px; */
	height: 100wh;
	/* min-height: 100vh; */
}

#additional-part
{
	/* width: 40%; */
	height: 100wh;
	/* min-height: 100vh; */
	/* margin-left: 10px; */
}

.span-date
{
	font-family: Courier New;
	font-size: 12px;
}

@media only screen and (max-width: 767px)
{
	div.nagłówek h1
	{
		font-size: 8vw;
	}

	div.nagłówek h2
	{
		font-size: 4vw;
	}

	.container
	{
		display: flex;
		flex-direction: column;
	}
	
	/*
	.divs-egual
	{
		display: flex;
		flex-direction: column;
	}
	*/
	
	#main-part
	{
		width: 100vw;
		border-right-style: none;
	}
	
	#additional-part
	{
		width: 100vw;
	}
	
	.career-goals
	{
		padding-left: 10px;
		padding-right: 10px;
	}
}
/* div#flaga
{
	clear: both;
	/* background-color: red; */
	/* width: 100%;
	height: auto; */
	/* max-height: 500px; */
	/* background-image: url("IMG/EUFlag.png");
	background-position: center; */
	/* background-attachment: fixed; */
}
*/

.container4
{
	/* clear: both; */
}

.break
{
	/* clear: both; */
	width: 100%;
	height: 75px;
	background-color: red;
	bottom: 0px;

}

.fa-star
{
	color: black;
}

.checked
{
		color: gold;
}

.footer-div
{
    /*
	clear: both;
	*/
	/*
	clear: both;
	* */
	display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	width: 100%;
	height: 75px;
	bottom: 0px;
	vertical-align: middle;
	border-top-style: solid;
	border-top-color: #3D486B;
	border-top-width: 3px;
	background-color: #f4e6db;
}

footer
{
	flex: 0 0 300px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	/* font-size: 10px; */
	
}
